:root {
  --primary-color: #29b6f6;
  --text-color: white;
  /* --background-color: #ffffff; */
  --font-family: Georgia, serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
}

.riddlesGame-title {
}

.copyright {
}

.game-description {
}

.btn {
  background-color: var(--primary-color);
  color: var(--text-color);
  opacity: 0.5;
}

.colorMode-btn {
}

.dark-mode {
}
.light-mode {
}

.container-loginButtons {
}

.play-btn {
}

.login-btn {
}

.signUp-btn {
}
